# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

參考

https://ithelp.ithome.com.tw/articles/10194003

https://blog.csdn.net/qq_36523839/article/details/79746977

https://github.com/henryho2012/1st-PyCrawlerMarathon/blob/master/homework/Day022_HW.ipynb

https://github.com/zero0827z/1st-PyCrawlerMarathon/blob/master/Homework/Day022_HW.ipynb

https://www.cupoy.com/qa/club/ai_tw/0000016E62FB84E4000000026375706F795F72656C656173654B5741535354434C5542/0000016F375E0D170000007E6375706F795F72656C656173655155455354

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import time
browser = webdriver.Chrome(executable_path='..\chromedriver')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

#selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
#selectSite.select_by_value('29')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

time.sleep(5)

html_source = browser.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')
table

<table align="Center" border="1" cellpadding="3" cellspacing="0" class="TABLE_G" id="ctl05_gv" rules="all" style="border-color:Black;border-width:1px;border-style:None;border-collapse:collapse;">
<tbody><tr style="color:Black;font-weight:normal;">
<th scope="col">監測項目</th><th scope="col">單位</th><th scope="col">監測日期</th><th scope="col">監測值</th><th scope="col">標註</th>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">SO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>1.80</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>1.90</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>2.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>2.30</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>3.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>2.70</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>2.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>2.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>2.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>1.70</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>1.90</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>1.80</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">CO</td><td class="no-alt" rowspan="12" valign="top">ppm</td><td>2018/01</td><td>0.34</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>0.44</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>0.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>0.38</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>0.34</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>0.29</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>0.21</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>0.30</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>0.26</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>0.29</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>0.30</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>0.35</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">O3</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>33.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>32.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>35</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>38.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>31.60</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>29.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>18.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>26.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>29.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>45.90</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>32.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>30.70</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">PM10</td><td class="no-alt" rowspan="12" valign="top">μg/m3</td><td>2018/01</td><td>23</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>41</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>39</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>48</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>37</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>26</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>24</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>26</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>28</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>33</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>25</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>21</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NOx</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>14.17</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>19.43</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>18.50</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>15.24</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>15.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>13.79</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>11.60</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>14.75</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>12.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>12.45</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>13.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>14.56</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>3.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>4.48</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>4.93</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>2.60</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>2.26</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>2.41</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>2.68</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>2.68</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>2.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>2.13</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>2.71</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>3.42</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>10.77</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/02</td><td>14.95</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/03</td><td>13.56</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/04</td><td>12.64</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/05</td><td>12.94</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/06</td><td>11.38</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/07</td><td>8.92</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/08</td><td>12.08</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/09</td><td>10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/10</td><td>10.33</td><td> </td>
</tr><tr style="color:Black;">
<td>2018/11</td><td>10.71</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2018/12</td><td>11.15</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">THC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr class="ALT" style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">NMHC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr style="color:Black;">
<td style="white-space:nowrap;">CH4</td><td>ppm</td><td> </td><td> </td><td>無此測項</td>
</tr>
</tbody></table>

In [37]:
table.find_all('tr')[5].find('td').text == 'SO2'

False

In [56]:
data = table.find_all('tr')[1:]
#-------------------------------------------------------SO2
for i in data:
    #try:
        if i.find('td').text == 'SO2':
            for j in data[data.index(i):data.index(i)+8]:
                #print(j.find_all('td')[0].text)
                #print(j.find_all('td')[1].text)                
                
                for k in j.find_all('td'):
                    print(k.text,end=" ")
                  
    #except:  #i.find('td').text is None
    #    pass
#-----------------------------------------------------CO  
for i in data:
    #try:
        if i.find('td').text == 'CO':
            for j in data[data.index(i):data.index(i)+8]:
                #print(j.find_all('td')[0].text)
                #print(j.find_all('td')[1].text)                
                
                for k in j.find_all('td'):
                    print(k.text,end=" ")

SO2 ppb 2018/01 1.80   2018/02 1.90   2018/03 2.20   2018/04 2.30   2018/05 3.10   2018/06 2.70   2018/07 2.20   2018/08 2.40   CO ppm 2018/01 0.34   2018/02 0.44   2018/03 0.40   2018/04 0.38   2018/05 0.34   2018/06 0.29   2018/07 0.21   2018/08 0.30

In [57]:
data = table.find_all('tr')

for i in data:
    try:
        if i.find('td').text == 'SO2':
            for j in data[data.index(i):data.index(i)+8]:
                #print(j.find_all('td')[0].text)
                #print(j.find_all('td')[1].text)                
                
                for k in j.find_all('td'):
                    print(k.text,end=" ")
    except:  # data 的第一筆資料會出問題
        continue

SO2 ppb 2018/01 1.80   2018/02 1.90   2018/03 2.20   2018/04 2.30   2018/05 3.10   2018/06 2.70   2018/07 2.20   2018/08 2.40

**利用表格**

In [86]:
import pandas as pd

dfs = pd.read_html(html_source)
df = [df for df in dfs if df.shape[1]==5]
df = df[1]
df

    監測項目   單位     監測日期    監測值    標註
0    SO2  ppb  2018/01   1.80   NaN
1    SO2  ppb  2018/02   1.90   NaN
2    SO2  ppb  2018/03   2.20   NaN
3    SO2  ppb  2018/04   2.30   NaN
4    SO2  ppb  2018/05   3.10   NaN
..   ...  ...      ...    ...   ...
82   NO2  ppb  2018/11  10.71   NaN
83   NO2  ppb  2018/12  11.15   NaN
84   THC  ppm      NaN    NaN  無此測項
85  NMHC  ppm      NaN    NaN  無此測項
86   CH4  ppm      NaN    NaN  無此測項

[87 rows x 5 columns]

In [95]:
#法1 
df=df[df['監測日期'].between("2018/01","2018/08")] #此時'	監測日期'仍為object
df[df['監測項目']=="SO2"]

  監測項目   單位     監測日期  監測值   標註
0  SO2  ppb  2018/01  1.8  NaN
1  SO2  ppb  2018/02  1.9  NaN
2  SO2  ppb  2018/03  2.2  NaN
3  SO2  ppb  2018/04  2.3  NaN
4  SO2  ppb  2018/05  3.1  NaN
5  SO2  ppb  2018/06  2.7  NaN
6  SO2  ppb  2018/07  2.2  NaN
7  SO2  ppb  2018/08  2.4  NaN

In [55]:
#法2 (較慢)
df = df[df['監測項目'] =="SO2"]
df[(df['監測日期']=='2018/01')|(df['監測日期']=='2018/02')|(df['監測日期']=='2018/03')]

  監測項目   單位     監測日期  監測值   標註
0  SO2  ppb  2018/01  1.8  NaN
1  SO2  ppb  2018/02  1.9  NaN
2  SO2  ppb  2018/03  2.2  NaN

In [45]:
#df[df['監測項目'] =="SO2"][df[df['監測項目'] =="SO2"]['監測日期']=='2018/01']
df = df[df['監測項目'] =="SO2"]
df[df['監測日期']=='2018/01']

  監測項目   單位     監測日期  監測值   標註
0  SO2  ppb  2018/01  1.8  NaN

In [30]:
#法3

df = df.set_index('監測日期')
#df.index = pd.DatetimeIndex(df.index)
df[df['監測項目'] =="SO2"]['2018/01':'2018/07'] #df[df['監測項目'] =="SO2"].loc['2018/01':'2018/07']

        監測項目   單位  監測值   標註
監測日期
2018/01  SO2  ppb  1.8  NaN
2018/02  SO2  ppb  1.9  NaN
2018/03  SO2  ppb  2.2  NaN
2018/04  SO2  ppb  2.3  NaN
2018/05  SO2  ppb  3.1  NaN
2018/06  SO2  ppb  2.7  NaN
2018/07  SO2  ppb  2.2  NaN

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [83]:
dfs = pd.read_html(html_source)
df = [df for df in dfs if df.shape[1]==5]
df = df[1]
df

    監測項目   單位     監測日期    監測值    標註
0    SO2  ppb  2018/01   1.80   NaN
1    SO2  ppb  2018/02   1.90   NaN
2    SO2  ppb  2018/03   2.20   NaN
3    SO2  ppb  2018/04   2.30   NaN
4    SO2  ppb  2018/05   3.10   NaN
..   ...  ...      ...    ...   ...
82   NO2  ppb  2018/11  10.71   NaN
83   NO2  ppb  2018/12  11.15   NaN
84   THC  ppm      NaN    NaN  無此測項
85  NMHC  ppm      NaN    NaN  無此測項
86   CH4  ppm      NaN    NaN  無此測項

[87 rows x 5 columns]

In [84]:
df = df.set_index('監測日期')
df.index = pd.DatetimeIndex(df.index) # 執行他 下方代碼才不會報錯

In [85]:
df[(df['監測項目'] =="SO2") | (df['監測項目'] =="CO")]['2018/01':'2018/08'] #若index中有重複日期會報錯 所以要把index轉成 datetime

           監測項目   單位   監測值   標註
監測日期
2018-01-01  SO2  ppb  1.80  NaN
2018-02-01  SO2  ppb  1.90  NaN
2018-03-01  SO2  ppb  2.20  NaN
2018-04-01  SO2  ppb  2.30  NaN
2018-05-01  SO2  ppb  3.10  NaN
2018-06-01  SO2  ppb  2.70  NaN
2018-07-01  SO2  ppb  2.20  NaN
2018-08-01  SO2  ppb  2.40  NaN
2018-01-01   CO  ppm  0.34  NaN
2018-02-01   CO  ppm  0.44  NaN
2018-03-01   CO  ppm  0.40  NaN
2018-04-01   CO  ppm  0.38  NaN
2018-05-01   CO  ppm  0.34  NaN
2018-06-01   CO  ppm  0.29  NaN
2018-07-01   CO  ppm  0.21  NaN
2018-08-01   CO  ppm  0.30  NaN